name: 'Frontend CI'

on:
  pull_request:

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup node'
        uses: actions/setup-node@v4
        with:
          node-version-file: '/.nvmrc'
          cache-dependency-path: '/package-lock.json'

      - name: 'Install dependencies'
        run: npm install
      
      - name: 'Build typescript'
        run: npm run build